#qrBoxExtension {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #fff;
  border: 1px solid #aaa;
  padding: 12px;
  border-radius: 10px;
  z-index: 9999999;
  width: 240px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

.qr-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 8px;
  cursor: move;
}

#qrCloseBtn {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
}

.qr-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.qr-buttons button {
  flex: 1;
  margin: 0 3px;
  padding: 6px 5px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #666;
  background: #f5f5f5;
}
